@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/dgh7yme.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: pt-serif, serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.circle_loader {
  @apply border-t-primary-100 rounded-[50%];
  animation: spin 1s linear infinite;
}